<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Update user</title>
<head>
    <meta charset="UTF-8">
    <title>user-update</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="Username">Username</label>
    <input type="text" th:field="*{username}" id="Username" placeholder="Username">
    <br/>
    <label for="FirstName">FirstName</label>
    <input type="text" th:field="*{firstName}" id="FirstName" placeholder="FirstName">
    <br/>
    <label for="LastName">LastName</label>
    <input type="text" th:field="*{lastName}" id="LastName" placeholder="LastName">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>
